<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/feabb70a-6fcc-439c-95a1-ff9032ab9c2f/resourcegroups/Kecskebázis/providers/Microsoft.Web/sites/ErettsegizzunkApi20250228075323</ResourceId>
    <ResourceGroup>Kecskebázis</ResourceGroup>
    <ApiResourceId>/subscriptions/feabb70a-6fcc-439c-95a1-ff9032ab9c2f/resourceGroups/Kecskebázis/providers/Microsoft.ApiManagement/service/ErettsegizzunkApi/apis/Erettsegizzunk</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://erettsegizzunkapi20250228075323.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2c83b248-c79e-4ee2-bb9e-62411d8cb5ac</ProjectGuid>
    <MSDeployServiceURL>erettsegizzunkapi20250228075323.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ErettsegizzunkApi20250228075323</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ErettsegizzunkApi20250228075323</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>