.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 400px;
  max-width: 100%;
}

.profile-card h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 1rem;
}

.form-control {
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #d1d5db;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.form-control:focus {
  border-color: var(--bg-color);
  box-shadow: 0 0 8px rgba(76, 12, 181, 0.2);
  outline: none;
}

.btn-primary {
  background-color: var(--bg-color);
  border: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #35097d;
}

.input-group .btn-outline-secondary {
  border: 2px solid #d1d5db; /* Add border */
  border-radius: 8px; /* Match the input border radius */
  background: transparent;
  color: #6c757d;
  transition: all 0.3s ease-in-out;
}

.input-group .btn-outline-secondary:hover {
  color: #333;
  border-color: var(--bg-color); /* Change border color on hover */
}

.form-check-input {
  margin-top: 0.3rem;
}

.profile-picture-container {
  transition: all 0.3s ease;
}

.profile-picture-container:hover {
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.profile-picture-container img {
  display: block;
}