/* Page Layout */
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5vh 2vw;
}

.content-container {
  margin-top: -3vh;
  max-height: 75vh;
  width: 90%;
  max-width: 500px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;
}

h3 {
  font-size: 1.8rem;
  color: #0c7810;
  margin-bottom: 20px;
}

/* Form Styling */
.exercise-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Radio Group */
.radio-group {
  max-height: 320px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.radio-option {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  border-radius: 8px;
  height: 50px;
}

.radio-option input {
  display: none;
}

.radio-option .name {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.2s;
}

.radio-option input:checked + .name {
  
  background: linear-gradient(135deg, #4c0cb5, #651bdd);
  color: white;
  font-weight: bold;
  transform: scale(1.05);
}

.radio-option:hover .name {
  background-color: #4d0cb512;
  transform: scale(1.03);
}

/* Button Styling */
.select-button {
  margin-top: 20px;
  padding: 14px 24px;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(135deg, #4c0cb5, #651bdd);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.select-button:hover {
  background: linear-gradient(135deg, #651bdd, #4c0cb5);
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.select-button:active {
  transform: scale(0.98);
}

/* Spinner Styling */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .content-container {
    width: 95%;
    padding: 20px;
  }

  .radio-group {
    max-width: 100%;
  }

  .select-button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  h3 {
    font-size: 1.5rem;
  }

  .radio-option .name {
    font-size: 14px;
    padding: 10px 0;
  }

  .select-button {
    padding: 12px 18px;
    font-size: 16px;
  }
}
