.sidenav {
  height: calc(100vh - 50px);
  width: 250px;
  background-color: var(--bg-color);
  padding: 20px;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  z-index: 1000;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  color: #fff;
}

.sidenav.closed {
  transform: translateX(-100%);
}

.sidenav .task-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: color-mix(in srgb, var(--bg-color), white 20%);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  text-align: left;
  transition: background-color 0.3s, color 0.3s;
}

.sidenav .task-button:hover {
  background-color: color-mix(in srgb, var(--bg-color), white 10%);
}

.sidenav .task-button.active {
  background-color: color-mix(in srgb, var(--bg-color), white 30%);
}

.answer-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  margin-left: 10px;
}

.answered {
  background-color: #28a745;
}

.not-answered {
  background-color: #dc3545;
}

@media (max-width: 992px) {
  .sidenav {
    position: fixed;
    width: 250px;
    left: -250px;
    z-index: 1050;
  }

  .sidenav.open {
    left: 0;
    transform: translateX(0);
  }
}