.sidenav {
  height: 95vh;
  width: 26vh;
  position: fixed;
  top: 5vh;
  left: 0;
  background-color: lightgray;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow-y: auto;
  gap: 5px;
}

.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  display: block;
}

.sidenav a:hover {
  background-color: lightgray;
}

.sidenav button {
  background-color: lightgray;
  border: none;
  height: 5.97%;
  user-select: none;
  color: black;
}

.sidenav button:hover {
  background-color: gray;
  border-radius: 15px;
  /*height: 5vh;*/
}

.task-button {
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.task-button.active {
  background-color: gray;
  color: white;
}