.exercise {
  width: 50%; /* Flexible width */
  height: auto; /* Adjust based on content */
  margin: 10vh auto; /* Center horizontally and add top margin */
  background-color: white;
  /*border: 2px solid black;*/
  padding: 20px;
  box-sizing: border-box; /* Include padding in width/height calculation */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  text-align: center; /* Center the text inside */
}

.subject-row {
  display: flex;
  flex-wrap: wrap;
}

/* Default height for mobile devices */
.action {
  height: 15vh;
  margin: auto;
  margin-top: 3vh;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15%;
  border: 3px solid black !important;
  /*background-color: lightsteelblue !important;*/
  background: linear-gradient(90deg, lightsteelblue, rgb(95, 142, 203));
  color: #3d0991 !important;
}

/* Make the cards taller when in a single row (desktop) */
@media (min-width: 992px) {
  .subject-row {
    flex-wrap: nowrap;
  }
  
  .action {
    height: 30vh;
  }
}

/* Tablet adjustments */
@media (max-width: 991px) and (min-width: 768px) {
  .action {
    height: 20vh;
  }
}

/* Mobile adjustments */
@media (max-width: 767px) {
  .action {
    height: 10vh;
    font-size: 1rem;
    border-radius: 10%;
  }
}

.action:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.exercise{
  margin-top: 14vh !important;
  width: 90% !important;
  height: 100% !important;
  margin-left: 8.5vh !important;
}

.googleLogin {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;
  margin: auto;
}

.googleLogin svg {
  height: 24px;
}

.googleLogin:hover {
  transform: scale(1.02);
}

#contentDiv{
  margin-top: -20vh;
  width: 100%;
  height: 50vh;
}

#mainDiv{
  height: 50vh;
}

p{
  margin: auto;
}

.nav-link{
  color: white !important;
}

.nav-link:hover{
  color: lightgray !important;
}

i{
  font-size: 7rem;
}