.exercise {
  width: 50%; /* Flexible width */
  height: auto; /* Adjust based on content */
  margin: 10vh auto; /* Center horizontally and add top margin */
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  box-sizing: border-box; /* Include padding in width/height calculation */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  text-align: center; /* Center the text inside */
}

.action h3{
  margin-top: 8vh;
}

.action{
  height: 25vh;
  margin-top: 20vh;
  cursor: pointer;
  transition-duration: 0.23s;
}

.action:hover{
  box-shadow: 5px 5px 5px black;
  transform: scale(1.1);
  transition-duration: 0.23s;
}

.exercise{
  background-color: yellow !important;
  margin-top: 6vh !important;
  margin-left: 40vh !important;
  width: 75% !important;
  height: 100% !important;
}