body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: burlywood !important;*/
  background-image: url("background.png");
  background-size: cover;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-bg1{
  background-color: #290661 !important;
}

.color-bg2{
  background-color: #3d0991 !important;
}

.color-bg3{
  background-color: #4c0cb5 !important;
}

.color-text1{
  color: white !important;
}

.color-text2{
  color: #290661 !important;
}