:root {
  --bg-color: #303D5C;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-bg1 {
  background-color: var(--bg-color) !important;
}

.color-bg2 {
  background-color: #3d0991 !important;
}

.color-bg3 {
  background-color: #4c0cb5 !important;
}

.color-text1 {
  color: white !important;
}

.color-text2 {
  color: #290661 !important;
}

#root {
  height: 100%;
}

body {
  height: 100%;
}

html, body, #root {
  height: 100%; /* Ensure the root element takes full height */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
}

.main-content {
  flex: 1; /* Allows the content to grow and push the footer down */
}